<% provide(:title, 'Лаборатория веб-разработки') %>

<div class="content-home">
	<div class="container">
		<%= image_tag("mac.png", alt: "iWebLab", class: "container-mac") %>
		<h1 class="h1home">Узнайте, как создавать веб-сайты,
				интернет-магазины и многое другое.
		</h1>
		<p class="container-phome">iWebLab - это место, где вы сможете не только изучить
			технологии веб-разработки, но и на практике отточить свои знания.
			За несколько лет работы в вебе мы поняли - Знания без практики ничто!
			Поэтому мы решили уделять практическим вещам намного больше времени.
			А это значит, что у Вас появится большое количество готовых
			веб-приложений, которые не стыдно будет показать.
		</p>
		<%= link_to "Зарегистрироваться", signup_path, class: "btn" %>
	</div> <!-- /end .container -->
</div> <!-- /end .content-home -->

<div class="container_proof">
	<h1 class="h1home h1proof center">Чему Вы научитесь?</h1>

	<%= image_tag("browser.png", alt: "iWebLab", class: "img_browser") %>
	<h2 class="h2_proof">Вы научитесь создавать макеты
			будующих веб-приложений.</h2>
	<p class="p_proof">С помощью программы Photoshop  Вы начнете 
		созавать профессиональные макеты интернет-магазинов, 
		landing page, блогов. 
	</p>
	<p class="rubric rubric-block1">website design</p>

	<%= image_tag("mac_coding.png", alt: "iWebLab", class: "img_mac_coding") %>
	<h2 class="h2_proof right pt_block2">Вы научитесь превращать 
			psd файлы в html страницы.</h2><div class="clear"></div>
	<p class="p_proof right">Используя самые последние технологии, вы 
			максимально быстро будете превращать свои psd макеты в html страницы для любых браузеров и устройств. 
	</p><div class="clear"></div>
	<p class="rubric rubric-block2 right">website development</p><div class="clear"></div>

	<%= image_tag("deploy.png", alt: "iWebLab", class: "img_deploy") %>
	<h2 class="h2_proof pt_block3">Вы научитесь разворачивать 
			веб-приложения в интернете.</h2>
	<p class="p_proof">После того как ваше веб-приложение будет 
			готово, вы самостоятельно его развернете на виртуальном выделенном 
			сервере (VPS).
	</p>
	<p class="rubric rubric-block3">website deployment</p>
</div> <!-- /end .container -->

<div class="home-signup">
	<h1 class="h1home center">Хотите научиться новым навыкам? Присоединяйтесь к лаборатории веб-разработки!</h1>
	<%= link_to "Зарегистрироваться", signup_path, class: "btn center" %>
</div> <!-- /end .home-signup -->










