<header class="navbar">
	<div class="container">
		<%= link_to image_tag("logo.png", id: "logo"), '#' %>
		<nav>
			<ul>
				<li><%= link_to "Главная", '#' %></li>
				<li><%= link_to "Курсы",   '#' %></li>
				<li><%= link_to "Блог",    '#' %></li>
				<li><%= link_to "Войти",   '#' %></li>
			</ul>
		</nav>
	</div>
</header>

<div class="clear"></div>